body
{
  font-family: Arial, Geneva, Verdana, sans-serif;
  padding: 20px;
}

.mainContent
{
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}

a.main
{
  text-decoration: none;
}

a.main:hover
{
  text-decoration: underline;
}

p.padded
{
  padding: 50px;
}

.mt10
{
  margin-top: 20px;
}

.mt20
{
  margin-top: 20px;
}

